@import url(//db.onlinewebfonts.com/c/1231ae63051a492545b18104b75ebf51?family=Uber+Move+Text);


/*Element Style Code*/
*{
  font-family: "Uber Move Text";
  margin: 0.2vw;
}

.MainCon{
  height: auto;
}

.background_effect1{
  background-image: url("../images/background_effect.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

h2 {
  font-size: 6vw;
  color:#5B35F5;
}

p{
  font-size: 1.2vw;
  line-height: 1.5;
  word-spacing: 3px;
}

#colored_p{
  color: #DE86B8;
}

span{
  font-size: 1.5vw;
  color:#3E36D3;
}
/*End of Element Style Code*/

/* 1st Container Style Code Starts*/
.flexCon {
  display: flex;
  height: 60vw;
}

.hello_image {
  background-image: url("../images/hello_image.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: left;
  height: auto;
  padding-bottom: 20%;
}

.flexCon > div {
  margin: 10px;
  padding: 10px;
  width: 50%;
  justify-content: center;
}

.main_Image1 {
  background-image: url("../images/main_background.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.textBox{
  margin: 15% 0% 0% 2%;
  padding: 10px;
}
/* End of 1st Container Style Code*/

/* 2nd Container Style Code */
.flexCon2{
  display: flex;
  justify-content: flex-end;
  height: 50vw;
  background-image: url("../images/career_background.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.flexCon2 > div {
  width: 50%;
  height: 32vw;
  margin-top: 10vw;
  margin-right: 1.5vw;
  padding: 5px 5px 10px 5px;
  background: white;
  border-radius: 25px;
  box-shadow: 3px 4px 5px #888888;
  text-align: center;
}
/*End of 2nd Container Style Code */

/* Contact Container Style Code */

.background_effect2{
  background-image: url("../images/background_effect2.png");
  background-size: 120% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.mail_icon{
  background-image: url("../images/mail_icon.png");
  background-size: 58%;
  background-repeat: no-repeat;
  background-position: center;
  height: 10vw;
  width: 20vw;
  margin-left: 8vw;
  margin-top: 10vw;
}

.social_image {
  background-image: url("../images/social_media.png");
  background-size: 20vw;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width:440px){
  .mail_icon{
    margin-top: 5vw;
  }
}

@media only screen and (max-width:335px){
  .mail_icon{
    margin-top: 1vw;
  }
}