@import url(https://fonts.googleapis.com/css?family=Rubik);
@import url(https://fonts.googleapis.com/css?family=Poppins);

* {
  font-family: 'Rubik';
}

.index-container {
  margin: auto;
  max-width: 1440px;
}
