/* Outter Container Style Code */
.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Images and Image Container Style Code */
.exp-img {
  max-width: 100%;
  min-width: 300px;
}

.img-con {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Inner Container Style Code */
.container {
  display: flex;
  flex-flow: row wrap;
  margin: 20px 100px;
}

#border.container {
  border: 1px solid rgb(233, 232, 241);
  box-shadow: 7px 10px rgb(233, 232, 241);
  border-radius: 100px;
}

#border.container:last-child {
  margin-bottom: 100px;
}

/* Text Container Style Code */
.container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 40px;
}

/* Text Style Code */
.experience h1 {
  color: #0A0068;
  font-size: 60px;
  margin: 30px;
}

.experience h2 {
  color: #0A0068;
  font-size: 45px;
  font-weight: 900;
  margin: 0 0 30px 0;
}

.experience h3 {
  color: #5863EF;
  font-size: 25px;
  margin-bottom: 20px;
}

.experience p {
  font-family: 'Poppins';
  line-height: 30px;
  margin-bottom: 20px;
}

#text-right {
  text-align: right;
  align-items: flex-end;
}

/* Button Style Code */
.experience button {
  background-color: #0A0068;
  color: #ffffff;
  border: none;
  border-radius: 35px;
  padding: 10px;
  width: 120px;
}
