/* Outter Container Style Code */
.Experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Images and Image Container Style Code */
.Exp_Img {
  width: 100%;
}

.Img_Con {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Inner Container Style Code */
.Container {
  display: flex;
  flex-flow: row wrap;
  margin: 20px 100px;
}

#Border.Container {
  border: 1px solid rgb(233, 232, 241);
  box-shadow: 7px 10px rgb(233, 232, 241);
  border-radius: 100px;
}

#Border.Container:last-child {
  margin-bottom: 100px;
}

/* Text Container Style Code */
.Container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 40px;
}

/* Text Style Code */
.Experience h1 {
  color: #0A0068;
  font-size: 60px;
  margin: 30px;
}

.Experience h2 {
  color: #0A0068;
  font-size: 45px;
  font-weight: 900;
  margin: 0 0 30px 0;
}

.Experience h3 {
  color: #5863EF;
  font-size: 25px;
  margin-bottom: 20px;
}

.Experience p {
  font-family: 'Poppins';
  line-height: 30px;
  margin-bottom: 20px;
}

#Text_Right {
  text-align: right;
  align-items: flex-end;
}

/* Button Style Code */
.Experience button {
  background-color: #0A0068;
  color: white;
  border: none;
  border-radius: 35px;
  padding: 10px;
  width: 120px;
}