footer {
  display:flex;
  background-color: #2B0050;
  padding: 5vh 10%;
  justify-content: center;
}

footer h3, footer a, footer span {
  color: white;
}

footer h3 {
  font-size: 2vw;
}

footer div {
  display: inline-flex;
  flex-direction: column;
  padding: 0vw 4.2vw;
  margin-left: 5vw;
  width: 40%;
}

footer ul {
  list-style: none;
}

footer ul li, footer h3 {
  padding: 1vh 0px;
}

footer ul li a, footer span {
  text-decoration: none;
  font-size: 1vw;
}

.footer_connect li a span {
  float: right;
  margin-right: 3vw;
}
