.footer_background{
  background-color: #5B35F5;
  height: 100%;
  padding: 1vw 10vw;
}

#footer{
  border-bottom: 1px solid white;
}

@media only screen and (max-width:335px){
  .footer_background{
    height: 30%;
  }
}