/* Landing Page Main Section Style Code */
.Landing_Main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #0A0068;
  padding: 10px 100px;
}

/* Heading Container Style Code */
.Main_Heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* Image Container Style Code */
.Main_ImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* Text Style Code */
.Landing_Main h1 {
  font-size: 100px;
}

.Landing_Main h2 {
  color: #DD78A4;
  font-family: 'Poppins';
  font-size: 45px;
  margin-left: 7px;
}

.Landing_Main h3 {
  font-family: 'Poppins';
  font-size: 25px;
  margin: 5px 0 0 7px;
}

.Landing_Main h1,
.Landing_Main h3 {
  color: white;
}