/* Mobile Slider Style Code */
.mobile-slider-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  padding: 20px 0 30px 0;
}

.mobile-slider-container > h1{
  color: #0A0068;
  margin-bottom: 30px;
}

.mobile-exp-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.mobile-exp-container > p{
  text-align: center;
  padding: 0 10px 20px 10px;
}
.mobile-exp-container > * {
  padding-bottom: 20px;
}
.slider-next-btn{
  position: absolute;
  top: 40%;
  right: 0;
  font-size: 38px;
  color: #000;
  cursor: pointer;
  user-select: none;
}
.slider-prev-btn{
  position: absolute;
  top: 40%;
  left: 0;
  font-size: 38px;
  color: #000;
  cursor: pointer;
  user-select: none;
}


.mobile-slider-image{
  width: 75%;
}
