/* Mobile Slider Style Code */
.mobile-slider-container h1{
  text-align: center;
  color: #0A0068;
  padding: 50px 50px 0 50px;
}

.mobile-slider {
  height: 700px;
}

.mobile-slider-element{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 500px;
  padding: 10px 30px;
}


.mobile-slider-element > .img-con {
  width: 50%;
}

.mobile-slider-element h2{
  color: #0A0068;
  margin-top: 100px;
}

.mobile-slider-element h3{
  color: #5863EF;
  margin: 25px;
  font-size: 16px;
}

.mobile-slider-element p{
  font-family: 'Poppins';
  text-align: center;
  line-height: 20px;
  padding: 10px 20px 20px 10px;
}

/* Overrided Style Code for AwesomeSlider */
.awssld__bullets > button {
  position:unset;
  width: 12px;
  height: 12px;
}

.awssld__controls{
  visibility:visible;
  color: #0A0068;
}

.awssld__bullets{
  position: absolute;
  bottom: 49%;
  width: 100%;
}
.awssld {
  --organic-arrow-height: 30px;
  --control-button-height:1;
  --content-background-color: transparent !important;
}
/* Medium devices to Large devices (landscape tablets to desktops, 768px and up) */
@media only screen and (min-width: 768px) {
  .awssld {
    display: none;
  }
}
