* {
  margin: 0;
  padding: 0;
}

/* Small devices style code 
portrait tablets and large phones, 767px and down) */

.mock-logo {
  /* center the logo */
  display: flex;
  margin: 0 auto;
  width: 30px;
  height: 20px;
}

nav {
  padding: 10px 0;
  background-color: #0A0068;
}

nav li a {
  text-decoration: none;
  color: white;
  letter-spacing: 3px;
}

/* mobile nav toggle style code */
nav button {
  position: absolute;
  color: #2B0050;
  border: none;
  background: none;
  top: 10px;
  left: 20px;
}

/* disable textNav on default*/
.textNav {
  display: none;
}

/* abling textNav when the toggle is onclick*/
.textNav.active {
  display: block;
  /* animation starts*/
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.textNav.active.fade-in {
  opacity: 1;
  /* animation ends */
}

.textNav.active li {
  text-align: center;
  padding: 3px;
}

.socialNav {
  position: absolute;
  top: 10px;
  right: 20px;
}

.socialNav li {
  display: inline;
  padding: 0 2vw;
}

.socialNav li:last-child {
  padding-right: 0;
}

.socialNav li a {
  font-size: 15px;
}

/* Medium devices to Large devices (landscape tablets to desktops, 768px and up) */
@media only screen and (min-width: 768px) {
  .mock-logo {
    position: relative;
    top: 0;
    left: 0;
  }

  /* Nav style code */
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 10px 100px;
  }

  nav button {
    display: none;
  }

  nav li {
    display: inline;
  }

  nav li a {
    font-size: 16px;
  }

  /* text Nav style code */
  .textNav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .textNav li {
    padding: 0vw 0.7vw;
  }

  .textNav li a {
    padding: 0vw 3.5vw;
  }

  /* social Nav style code */
  .socialNav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 2;
    top: 0;
    right: 0;
  }

  .socialNav li {
    padding: 0vw 0.8vw;
  }

  .socialNav li a {
    font-size: 16px;
    padding: 0;
  }
}