*{
  margin:0px;
  padding: 0px;
}

.mock-logo {
  width: 2vw;
  height: 2vh;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vw;
  padding: 0.5vh 15%;
}

nav li {
  display: inline;
}

nav li a {
  text-decoration: none;
  color: #2B0050;
  font-size: 1.1vw;
  letter-spacing: 3px;
}

.textNav li {
  padding: 0vw 0.7vw;
  float: left;
}

.textNav li a{
  padding:0vw 3.5vw;
}

.socialNav {
  flex-grow: 2;
}

.socialNav li {
  float: right;
  padding: 0vw 1vw;
}
