/* Landing Page Main Section Style Code */
.landing-main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #0A0068;
  padding: 10px 100px;
}

/* Heading Container Style Code */
.main-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

/* Image Container Style Code */
.main-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.main-img {
  width: 100%;
  min-width: 300px;
}

/* Text Style Code */
.landing-main h1 {
  font-size: 8vw;
}

.landing-main h2 {
  color: #DD78A4;
  font-family: 'Poppins';
  font-size: 4vw;
  margin-left: 7px;
}

.landing-main h3 {
  font-family: 'Poppins';
  font-size: 2vw;
  margin: 5px 0 0 7px;
}

.landing-main h1,
.landing-main h3 {
  color: #ffffff;
}
