/* Landing Page Main Section Style Code */
.landing-main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px 100px;
  max-width: 1440px;
}

/* Heading Container Style Code */
.main-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

/* Image Container Style Code */
.main-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.main-img {
  width: 100%;
  min-width: 300px;
}

/* Text Style Code */
.landing-main h1 {
  font-size: clamp(42px,100px,4vw);
  margin: 10px 0;
}

.landing-main h2 {
  color: #ffffff;
  font-size: clamp(18px,32px,3vw);
  font-weight: 500;
  margin: 0 0 20px 0;
}

.landing-main h3 {
  font-size: clamp(12px,24px, 2vw);
  font-weight: 500;
  margin: 20px 0 0 3px;
}

.landing-main h1,
.landing-main h3 {
  color: #ffffff;
}
